{% extends "DForumBundle::layout.html.twig" %}

{% block title %}Index Forums{% endblock %}

{% block stylesheets %}
<style>
    .category {
        padding-top:30px;
        height:250px;
        margin-top:20px;
    }
</style>
{% endblock %}

{% block body %}

<div class="col-md-12">
    <div class="thumbnail text-center forum-box color-dark col-xs-8 col-md-8 col-sm-8" style="margin-bottom:0px; background-color:#486aad; color:white;">Forum</div>
    <div class="thumbnail text-center forum-box color-dark col-xs-4 col-sm-4 col-md-4" style="margin-bottom:0px; background-color:#486aad; color:white;">{{ 'discutea.forum.lastpostby'|trans }}</div>
    {% for category in categories %} <!-- if is_granted('CanReadCategory', category) -->
    <h4 class="thumbnail forum-box color-dark" style="padding-left:10px; margin-bottom:0px; background-color:#7190c6; color:white;">{{ category.name }}</h4>
    <div class="forum-category-bloc forum-box color-dark text-center">
        {% for forum in category.forums %}
        <div class="thumbnail text-center forum-box color-dark col-xs-8 col-sm-8 col-md-8">
            <div><a href="{{ path('discutea_forum_topic', {'slug': forum.slug}) }}" title="{{ forum.name }}">{{ forum.name }}</a></div>
            <p>{{ forum.description }}</p>
        </div>
        <div class="thumbnail text-center forum-box color-dark col-xs-4 col-sm-4 col-md-4">
            {% set lastTopic = dfLastTopicInForum(forum) %}
            {% if lastTopic is not null %}
            <a class="lastComment" href="{{ dfLastPostPages(lastTopic.posts.last) }}">
                <div style="padding-top:15px; padding-bottom:15px;">
                    <strong>{{ lastTopic.posts.last.poster.username }}</strong>
                    {{ lastTopic.posts.last.date|date("d-m-Y H:i") }}
                </div>
            </a>
            {% else %}
            <p>{{ 'discutea.forum.null'|trans }}</p>
            {% endif %}
        </div>
        {% else %}
        {% if is_granted("ROLE_SUPER_ADMIN") %}
        <p class="text-center"><a class="btn btn-primary" href="{{ path('discutea_forum_create_forum', {'id': category.id}) }}">{{ 'discutea.forum.category.addforum'|trans }}</a></p>
        {% endif %}
        {% endfor %}
    </div>  
    {% else %}
    {% if is_granted("ROLE_SUPER_ADMIN") %}
    <p class="text-center"><a class="btn btn-primary" href="{{ path('discutea_forum_create_category') }}"> {{ 'discutea.forum.category.createnew'|trans }} </a></p>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}

