{% trans_default_domain 'FOSUserBundle' %}

<br />

    <div class="thumbnail forum-box color-dark" style="text-align:center; padding:10px; margin-bottom:0px; background-color:#486aad; color:white;">
        <div class="row">
            <h1>Profil de {{ user.username|default('undefined') }}</h1>
        </div>

        <div class="row">
            <p>{{ 'profile.show.username'|trans }}: {{ user.username|default('undefined') }}</p>
            <p>{{ 'profile.show.email'|trans }}: {{ user.email|default('undefined') }}</p>
            <!--<p>Dernière visite : {{ user.lastLogin|date('d-m-Y')|default('undefined') }}</p> -->

        </div>
    </div>

