{% trans_default_domain 'FOSUserBundle' %}

<br />

<div class="form-group">
    <div class="form-group row col-xs-4 col-xs-offset-4">
        <h1>Profil de {{ user.username }}</h1>
    </div>

    <div class="form-group row col-xs-4 col-xs-offset-4 fos_user_user_show">
        <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
        <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
        <p>Dernière visite : {{ user.lastLogin|date('d-m-Y') }}</p>
    </div>
</div>
