{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}Administration des rôles{% endblock %}

{% block body %}
<div class="row" style="text-align:center;">
    <h1>Administration</h1>
</div>

<div class="row" style="margin-left:10px;">
    <h3>Liste de tous les utilisateurs</h3>
</div>
<table class="table table-responsive" style="border: 1px solid black;">
    <tr style="background-color:#486aad; color:white;">
        <th style="text-align:center;">ID</th>
        <th style="text-align:center;">Utilisateur</th>
        <th style="text-align:center;">Email</th>
        <th style="text-align:center;">Dernière Visite</th>
        <th style="text-align:center;">Droit</th>
        <th style="text-align:center;">Action</th>
    </tr>
    {% for user in users %}
    <tr>
        <td style="text-align:center;">{{ user.id|e }}</td>
        <td style="text-align:center;">{{ user.username|e }}</td>
        <td style="text-align:center;">{{ user.email|e }}</td>
        <td style="text-align:center;">{{ user.lastLogin|date('d/m/Y') }}</td>
        <td style="text-align:center;">{% for role in user.roles %}*{{ role }}{% endfor %}</td>
        <td style="text-align:center;">
            <a href="{{ path('fos_user_user_show',{ id: user.id }) }}" style="margin-right:5px;" >Profil</a>
            <a href="{{ path('app_bundle_edituser',{ id: user.id }) }}" style="margin-left:5px;">Modifier</a> 
        </td>
    </tr>
    {% endfor %}
</table>
<br />

<form action="">
  Nom du Forum : <input type="text" name="fname">
  <input type="submit" value="Submit">
</form>


{% endblock body %}