<!DOCTYPE html>
{% set pagetitle %}{% block title %}{{ 'home.meta.title'|trans }}{% endblock %}{% endset %}
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="utf-8" />
        <!--[if lt IE 9]>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
<![endif]-->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
        <title>{{ pagetitle }}</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <!-- FONT AWESOME -->
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/bmatznerfontawesome/css/font-awesome.min.css') }}" />
        <style>
            body {
                padding-top: 50px;  
            }
            .starter-template {
                padding: 40px 15px;
            }
            .h2, h2{
                font-size: 30px;
            }
        </style>
        {% block stylesheets %}

        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">DForumBundle</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <!-- fa fa-home-->
                        <li><a href="{{ path('discutea_forum_homepage') }}"><div class="glyphicon glyphicon-home"></div></a></li>
                        {% if is_granted("ROLE_ADMIN") %}
                            <li><a href="{{ path('discutea_forum_admin_dashboard') }}">Gestion forum</a></li>
                        {% endif %}
                        {% if is_granted("ROLE_SUPER_ADMIN") %}
                            <li><a href="{{ path('discutea_forum_admin_superdashboard') }}">Administration</a></li>
                        {% endif %}
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <li><a href="{{ path('fos_user_user_show', {'id' : app.user.id}) }}">Bienvenue {{ app.user.username }}</a></li>
                        <li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
                        <li><a href="{{ path('app_bundle_edituser', {'id' : app.user.id}) }}">Mon compte</a></li>
                        {% else %}
                        <li><a href="{{ path('fos_user_registration_register') }}">Inscription</a></li>
                        <li><a href="{{ path('fos_user_security_login') }}">Connexion</a></li>
                        {% endif %}
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>
        <div class="container">
            <div class="starter-template">

                {% for label, flashes in app.session.flashbag.all %}
                {% for flash in flashes %}
                <div class="alert alert-{{ label }}">{{ flash }}</div>
                {% endfor %}
                {% endfor %}

                {% block body %}{% endblock %}

            </div>
        </div><!-- /.container -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    </body>
</html>
